CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
*.suo
Src/.vs/SAEA.Sockets/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
