<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="Nito.AsyncEx" version="5.1.2" targetFramework="net462" />
  <package id="Nito.AsyncEx.Context" version="5.1.2" targetFramework="net462" />
  <package id="Nito.AsyncEx.Coordination" version="5.1.2" targetFramework="net462" />
  <package id="Nito.AsyncEx.Interop.WaitHandles" version="5.1.2" targetFramework="net462" />
  <package id="Nito.AsyncEx.Oop" version="5.1.2" targetFramework="net462" />
  <package id="Nito.AsyncEx.Tasks" version="5.1.2" targetFramework="net462" />
  <package id="Nito.Cancellation" version="1.2.0" targetFramework="net462" />
  <package id="Nito.Collections.Deque" version="1.2.1" targetFramework="net462" />
  <package id="Nito.Disposables" version="2.5.0" targetFramework="net462" />
  <package id="Pipelines.Sockets.Unofficial" version="2.2.8" targetFramework="net462" />
  <package id="protobuf-net" version="3.2.46" targetFramework="net462" />
  <package id="protobuf-net.Core" version="3.2.46" targetFramework="net462" />
  <package id="SAEA.Common" version="7.24.8.4" targetFramework="net462" />
  <package id="SAEA.FTP" version="7.24.8.4" targetFramework="net462" />
  <package id="SAEA.Sockets" version="7.24.8.4" targetFramework="net462" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="9.0.1" targetFramework="net462" />
  <package id="System.IO.Pipelines" version="9.0.1" targetFramework="net462" />
  <package id="System.Memory" version="4.6.0" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="6.0.1" targetFramework="net462" />
  <package id="System.Security.Permissions" version="9.0.1" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net462" />
  <package id="System.ServiceModel.Primitives" version="8.1.1" targetFramework="net462" />
  <package id="System.Threading.Channels" version="9.0.1" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net462" />
</packages>